.inputBox {
    position:relative;
}

.inputBox input {
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 8px;
    color: black;  
    padding: 10px;
}

.inputBox input:focus,
.inputBox input:valid {
    border: 1px solid #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
  
.labelInput {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    transition: all .2s ease;
    font-size: 15px;
    pointer-events: none;
    color: black;
}

input:focus + label,
input:valid + label {
    font-size: 15px;
    top: 0;
    background: white;
    padding: 0px;
    color: #007bff;
}

.emptyInput {
    border: none;
    background: transparent;
    padding: 1px;
    width: 100%;
}

.emptyInput:focus {
    outline: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.enlarged {
    /* Estilos para o card aumentado */
    transform: scale(1.2);
}

h1, h2, h3, h4, h5, p {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.brand {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-5px);
    }
    20%, 40%, 60%, 80% {
        transform: translateX(5px);
    }
}

.shake-text {
    animation: shake 1.6s;
}

.profile-image {
    cursor: pointer;
    height: 350px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    transition: border-radius 1s ease, transform 1s ease;
    object-fit: cover;
}

.profile-image:hover {
    cursor: pointer;
    border-radius: 30px;
    transform: scale(1.06);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.resize-false {
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 8px;
    color: black;  
    padding: 10px;
    resize: none;
}

textarea:focus,
textarea:valid {
    border: 1px solid #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
